asgiref==3.5.0
asn1crypto==1.5.1
autopep8==1.4.4
Django==4.0.6
django-allauth
django-cors-headers
django-countries
django-cloudinary-storage
django-crispy-forms
django-daraja
django-debug-toolbar
django-oso
gunicorn
oauthlib
Pillow
PyPDF3
python-bidi
python-decouple
PyYAML
qrcode
requests
requests-oauthlib==1.2.0
stripe
sqlparse==0.2.4
whitenoise==6.2.0
xhtml2pdf==0.2.8