asgiref
asn1crypto
autopep8
Django
django-allauth
django-cors-headers
django-countries
django-cloudinary-storage
django-crispy-forms
django-daraja
django-debug-toolbar
django-oso
gunicorn
oauthlib
Pillow
PyPDF3
python-bidi
python-decouple
PyYAML
qrcode
requests
requests-oauthlib
stripe
sqlparse
whitenoise
xhtml2pdf